body,html{width:100%;height:100%;padding:0;margin:0;overflow:auto;font-family:Roboto,sans-serif;font-size:14px}
.body-container{margin-top:15%;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.alert-button{display:block;background-color:#3473c1;border-radius:2px;margin:0 auto 10px;font-size:14px;font-weight:300;color:#fff;width:145px;height:45px;border:none;cursor:pointer;outline:0}
.alert-button:hover{background-color:#3a5a8d}
.alert-button:active{background-color:#3473c1}
#lala-alert-container{position:fixed;height:auto;width:350px;bottom:0;right:0}
#lala-alert-wrapper{height:auto;padding:15px}
.lala-alert{position:relative;padding:25px 30px 20px;font-size:15px;margin-top:15px;opacity:1;line-height:1.4;border-radius:3px;border:1px solid transparent;cursor:default;transition:all .5s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.lala-alert span{opacity:.7;transition:all .25s ease-in-out}
.lala-alert span:hover{opacity:1}
.alert-success{color:#fff;background-color:#37c1aa}
.alert-success>span{color:#0b6f5e}
.alert-info{color:#fff;background-color:#3473c1}
.alert-info>span{color:#1e4567}
.alert-warning{color:#6b7117;background-color:#ffee9e}
.alert-warning>span{color:#8a6d3b}
.alert-danger{color:#fff;background-color:#d64f62}
.alert-danger>span{color:#6f1414}
.close-alert-x{position:absolute;float:right;top:10px;right:10px;cursor:pointer;outline:0}
.fade-out{opacity:0}
.animation-target{animation:animation 1.5s linear both}
@keyframes animation{0%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,250,0,0,1)}
3.14%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,160.737,0,0,1)}
4.3%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,132.565,0,0,1)}
6.27%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,91.357,0,0,1)}
8.61%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,51.939,0,0,1)}
9.41%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,40.599,0,0,1)}
12.48%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,6.498,0,0,1)}
12.91%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,2.807,0,0,1)}
16.22%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-17.027,0,0,1)}
17.22%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-20.404,0,0,1)}
19.95%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-24.473,0,0,1)}
23.69%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-21.178,0,0,1)}
27.36%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-13.259,0,0,1)}
28.33%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-11.027,0,0,1)}
34.77%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,.142,0,0,1)}
39.44%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,2.725,0,0,1)}
42.18%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,2.675,0,0,1)}
56.99%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-.202,0,0,1)}
61.66%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-.223,0,0,1)}
66.67%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-.104,0,0,1)}
83.98%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,.01,0,0,1)}
100%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}
}